vizApps/wsdl/SSOIdentityManager.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://josso.org/gateway/identity/service/ws/impl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://josso.org/gateway/identity/service/ws/impl" xmlns:intf="http://josso.org/gateway/identity/service/ws/impl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://josso.org/gateway/identity/service/ws/impl" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SSONameValuePair">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfSSONameValuePair">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SSONameValuePair[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="SSOUser">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="properties" nillable="true" type="impl:ArrayOfSSONameValuePair"/>
     <element name="sessionId" nillable="true" type="xsd:string"/>
     <element name="securitydomain" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SSOIdentityException">
    <sequence/>
   </complexType>
   <complexType name="NoSuchUserException">
    <complexContent>
     <extension base="impl:SSOIdentityException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="SSORole">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfSSORole">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SSORole[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="userExistsResponse">

   </wsdl:message>

   <wsdl:message name="findUserRequest">

      <wsdl:part name="ssoSessionId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="findRolesByUsernameResponse">

      <wsdl:part name="findRolesByUsernameReturn" type="impl:ArrayOfSSORole"/>

   </wsdl:message>

   <wsdl:message name="findRolesByUsernameRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="userExistsRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="initializeResponse">

   </wsdl:message>

   <wsdl:message name="NoSuchUserException">

      <wsdl:part name="fault" type="impl:NoSuchUserException"/>

   </wsdl:message>

   <wsdl:message name="SSOIdentityException">

      <wsdl:part name="fault" type="impl:SSOIdentityException"/>

   </wsdl:message>

   <wsdl:message name="findUserInSessionResponse">

      <wsdl:part name="findUserInSessionReturn" type="impl:SSOUser"/>

   </wsdl:message>

   <wsdl:message name="initializeRequest">

   </wsdl:message>

   <wsdl:message name="findUserInSessionRequest">

      <wsdl:part name="ssoSessionId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="findUserResponse">

      <wsdl:part name="findUserReturn" type="impl:SSOUser"/>

   </wsdl:message>

   <wsdl:portType name="SSOIdentityManager">

      <wsdl:operation name="initialize">

         <wsdl:input message="impl:initializeRequest" name="initializeRequest"/>

         <wsdl:output message="impl:initializeResponse" name="initializeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="findUser" parameterOrder="in0">

         <wsdl:input message="impl:findUserRequest" name="findUserRequest"/>

         <wsdl:output message="impl:findUserResponse" name="findUserResponse"/>

         <wsdl:fault message="impl:NoSuchUserException" name="NoSuchUserException"/>

         <wsdl:fault message="impl:SSOIdentityException" name="SSOIdentityException"/>

      </wsdl:operation>

      <wsdl:operation name="findUserInSession" parameterOrder="in0">

         <wsdl:input message="impl:findUserInSessionRequest" name="findUserInSessionRequest"/>

         <wsdl:output message="impl:findUserInSessionResponse" name="findUserInSessionResponse"/>

         <wsdl:fault message="impl:NoSuchUserException" name="NoSuchUserException"/>

         <wsdl:fault message="impl:SSOIdentityException" name="SSOIdentityException"/>

      </wsdl:operation>

      <wsdl:operation name="findRolesByUsername" parameterOrder="in0">

         <wsdl:input message="impl:findRolesByUsernameRequest" name="findRolesByUsernameRequest"/>

         <wsdl:output message="impl:findRolesByUsernameResponse" name="findRolesByUsernameResponse"/>

         <wsdl:fault message="impl:SSOIdentityException" name="SSOIdentityException"/>

      </wsdl:operation>

      <wsdl:operation name="userExists" parameterOrder="in0">

         <wsdl:input message="impl:userExistsRequest" name="userExistsRequest"/>

         <wsdl:output message="impl:userExistsResponse" name="userExistsResponse"/>

         <wsdl:fault message="impl:NoSuchUserException" name="NoSuchUserException"/>

         <wsdl:fault message="impl:SSOIdentityException" name="SSOIdentityException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SSOIdentityManagerSoapBinding" type="impl:SSOIdentityManager">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="initialize">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initializeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="initializeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NoSuchUserException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoSuchUserException" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="SSOIdentityException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SSOIdentityException" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="findUserInSession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findUserInSessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findUserInSessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NoSuchUserException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoSuchUserException" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="SSOIdentityException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SSOIdentityException" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="findRolesByUsername">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findRolesByUsernameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findRolesByUsernameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SSOIdentityException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SSOIdentityException" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="userExists">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="userExistsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="userExistsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NoSuchUserException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoSuchUserException" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="SSOIdentityException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SSOIdentityException" namespace="http://josso.org/gateway/identity/service/ws/impl" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SSOIdentityManagerService">

      <wsdl:port binding="impl:SSOIdentityManagerSoapBinding" name="SSOIdentityManager">

         <wsdlsoap:address location="https://psud.nc/josso/services/SSOIdentityManagerSoap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
