vizApps/wsdl/SSOSessionManager.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:org:josso:gateway:ws:1.2:wsdl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:org:josso:gateway:ws:1.2:wsdl" xmlns:intf="urn:org:josso:gateway:ws:1.2:wsdl" xmlns:tns1="urn:org:josso:gateway:ws:1.2:protocol" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn:org:josso:gateway:ws:1.2:protocol" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="AccessSessionRequestType">
    <sequence>
     <element name="requester" type="xsd:string"/>
     <element name="ssoSessionId" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="AccessSessionRequest" type="tns1:AccessSessionRequestType"/>
   <complexType name="AccessSessionResponseType">
    <sequence>
     <element name="ssoSessionId" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="AccessSessionResponse" type="tns1:AccessSessionResponseType"/>
   <complexType name="NoSuchSessionErrorType">
    <sequence>
     <element name="sessionId" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="NoSuchSessionError" type="tns1:NoSuchSessionErrorType"/>
   <complexType name="SSOSessionErrorType">
    <sequence>
     <element name="errMessage" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="SSOSessionError" type="tns1:SSOSessionErrorType"/>
   <complexType name="SessionRequestType">
    <sequence>
     <element name="requester" type="xsd:string"/>
     <element name="sessionId" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="SessionRequest" type="tns1:SessionRequestType"/>
   <complexType name="SSOSessionType">
    <sequence>
     <element name="id" type="xsd:string"/>
     <element name="creationTime" type="xsd:long"/>
     <element name="lastAccessTime" type="xsd:long"/>
     <element name="maxInactiveInterval" type="xsd:int"/>
     <element name="username" type="xsd:string"/>
     <element name="accessCount" type="xsd:long"/>
     <element name="valid" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="SessionResponseType">
    <sequence>
     <element name="SSOSession" type="tns1:SSOSessionType"/>
    </sequence>
   </complexType>
   <element name="SessionResponse" type="tns1:SessionResponseType"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSessionRequest">

      <wsdl:part element="tns1:SessionRequest" name="SessionRequest"/>

   </wsdl:message>

   <wsdl:message name="accessSessionResponse">

      <wsdl:part element="tns1:AccessSessionResponse" name="AccessSessionResponse"/>

   </wsdl:message>

   <wsdl:message name="SSOSessionErrorType">

      <wsdl:part element="tns1:SSOSessionError" name="SSOSessionError"/>

   </wsdl:message>

   <wsdl:message name="getSessionResponse">

      <wsdl:part element="tns1:SessionResponse" name="SessionResponse"/>

   </wsdl:message>

   <wsdl:message name="NoSuchSessionErrorType">

      <wsdl:part element="tns1:NoSuchSessionError" name="NoSuchSessionError"/>

   </wsdl:message>

   <wsdl:message name="accessSessionRequest">

      <wsdl:part element="tns1:AccessSessionRequest" name="AccessSessionRequest"/>

   </wsdl:message>

   <wsdl:portType name="SSOSessionManager">

      <wsdl:operation name="accessSession" parameterOrder="AccessSessionRequest">

         <wsdl:input message="impl:accessSessionRequest" name="accessSessionRequest"/>

         <wsdl:output message="impl:accessSessionResponse" name="accessSessionResponse"/>

         <wsdl:fault message="impl:SSOSessionErrorType" name="SSOSessionErrorType"/>

         <wsdl:fault message="impl:NoSuchSessionErrorType" name="NoSuchSessionErrorType"/>

      </wsdl:operation>

      <wsdl:operation name="getSession" parameterOrder="SessionRequest">

         <wsdl:input message="impl:getSessionRequest" name="getSessionRequest"/>

         <wsdl:output message="impl:getSessionResponse" name="getSessionResponse"/>

         <wsdl:fault message="impl:SSOSessionErrorType" name="SSOSessionErrorType"/>

         <wsdl:fault message="impl:NoSuchSessionErrorType" name="NoSuchSessionErrorType"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SSOSessionManagerSoapSoapBinding" type="impl:SSOSessionManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="accessSession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="accessSessionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="accessSessionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SSOSessionErrorType">

            <wsdlsoap:fault name="SSOSessionErrorType" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoSuchSessionErrorType">

            <wsdlsoap:fault name="NoSuchSessionErrorType" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSessionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSessionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SSOSessionErrorType">

            <wsdlsoap:fault name="SSOSessionErrorType" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoSuchSessionErrorType">

            <wsdlsoap:fault name="NoSuchSessionErrorType" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SSOSessionManagerWS">

      <wsdl:port binding="impl:SSOSessionManagerSoapSoapBinding" name="SSOSessionManagerSoap">

         <wsdlsoap:address location="https://qualif.psud.nc/josso/services/SSOSessionManagerSoap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>